
.contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: black;
    border: 20px solid black;
    width: 200px;
    height: 600px;
}

.rojo {
    grid-row: 1;
    background-color: red;
    border-radius: 100px;
    margin: 10px
}

.amarillo {
    grid-row: 2;
    background-color: yellow;
    border-radius: 100px;
    margin: 10px
}

.verde {
    grid-row: 3;
    background-color: green;
    border-radius: 100px;
    margin: 10px
}